services:
  mysql:
    image: mysql:8.0
    container_name: taskmanager-mysql
    restart: always
    environment:
      MYSQL_DATABASE: taskmanager_db
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data: