@import "tailwindcss";

/* 
#E8E9EB white
#313638 black

#F5D0C5 light light brown
#D69F7E light brown
#774936 brown
#3C0000 dark red brown
#3c1e00 dark brown
*/
:root {
  --background: #ebebe8;
  --foreground: #D69F7E;
  
  --button: #774936;
  --button-hover: #985f46;

  --text-dark: #313638;
  --text-light: #E8E9EB;

  --title: #3c1500;
}

@theme {
  --color-text-dark: var(--text-dark);
  --color-text-light: var(--text-light);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-button: var(--button);
  --color-button-hover: var(--button-hover);

  --color-title: var(--title);
}

h1 {
  font-size: 3rem;
  /* color: var(--title); */
  /* font-weight: 700; */
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .title {
    font-weight: 700;
    font-size: 4rem !important;
    color: var(--title) !important;
  }
}
